/** @format */
@import url(//db.onlinewebfonts.com/c/1fc6b9a8ffa7a66d2335064d5b7db082?family=Lato+ExtraBold);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

:root {
  --bg-color: #ebe28c;
  --second-bg-color: #f6f2d3;
  --text-color: #000;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
}

section .menu {
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 9%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo img {
  top: 9px;
  left: 16px;
  position: absolute;
  width: 283px;
  height: 111px;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.navbar a {
  margin-left: 4rem;
  font-size: 22px;
  font-weight: 500;
  color: #000;
}

.navbar a:hover,
.navbar a.active {
  color: #000;
}

.home {
  margin-bottom: 30px;
  min-height: 109vh;
}

.home-content {
  -webkit-text-stroke: 1px #b81821;
  max-width: 789px;
  max-height: 526px;
  line-height: 114px;
  color: #b81821;
}

.home-content h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 154px;
  font-size: 128px;
  margin-top: 108px;
  margin-left: 45px;
}

.home-img img {
  position: absolute;
  height: 457px;
  top: 336px;
  right: 0px;
}

.menu {
  background-color: #f6f2d3;
}

.menu h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 128px;
  text-align: center;
  font-weight: 800;
  color: #b81821;
  mix-blend-mode: normal;
  -webkit-text-stroke: 1px #b81821;
  padding-bottom: 104px;
  padding-top: 118px;
}

.menu-icon {
  background-color: #fff;
  border: #fff;
  border-radius: 50px;
  height: 982px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 165px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-icon h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 104px;
  font-size: 64px;
}

.menu-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-container img {
  height: 344px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.menu-container p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 28px;
  padding-top: 30px;
  margin-bottom: 140px;
}

.fullmenu {
  background: #b81821;
  border-radius: 50px;
  border: none;
  padding: 20px 109px 21px 108px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.menu-special {
  display: flex;
  gap: 34px;
  justify-content: center;
  align-items: center;
  padding-bottom: 118px;
}

.special-icon {
  background-color: #fff;
  width: 520px;
  height: 451px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 50px;
}

.special-icon h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 60px;
  font-style: normal;
  text-align: center;
  padding-top: 42px;
}

.special-icon h6 {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 17px;
}

.special-icon p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 295px;
  height: 116px;
  margin-left: 113px;
  margin-right: 113px;
  padding-top: 18px;
  text-align: center;
}

.special-img img {
  width: 520px;
  height: 451px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contact {
  background-color: #fff;
  height: 882px;
  display: flex;
}

.contact-menu {
  padding-top: 87px;
  padding-left: 84px;
}

.contact-menu h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 63px;
  padding-right: 381px;
}

.contact-open {
  padding-top: 87px;
}

.name {
  padding-top: 58px;
  display: flex;
  gap: 46px;
}

.input-box p {
  display: block;
  padding-bottom: 31px;
}

.input-box input {
  border: none;
  border-bottom: 3px solid #000000;
  width: 160px;
}

.input-name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.emailbox {
  padding-top: 58px;
}

.emailbox input {
  padding-top: 31px;
  border: none;
  border-bottom: 3px solid #000000;
  width: 160px;
}

.input-email {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.input-message {
  padding-top: 14px;
}

.input-mess {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.input-message input {
  padding-top: 51px;
  border: none;
  border-bottom: 3px solid #000000;
  width: 410px;
}

.flex-container {
  display: flex;
}

.submit-box {
  padding-top: 31px;
  margin-left: 30px; /* Adjust the margin as needed */
}

.submit-box input {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #000000;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding: 23px 45px 23px 45px;
}

/* Contat open */
.contact-open h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 63px;
  padding-bottom: 63px;
}
.contact-open h4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 26px;
}

.saturday {
  padding-top: 31px;
}

.contact-open h6 {
  padding-top: 47px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 26px;
}

.almt {
  padding-top: 31px;
}

.telp {
  display: flex;
  align-items: baseline; /* Centers the content vertically */
}

.telp-content {
  display: flex;
  align-items: baseline; /* Centers the content horizontally */
}

.telp img {
  margin-right: 35px; /* Adds some spacing between the image and the text */
}
.email {
  display: flex;
  align-items: baseline; /* Centers the content vertically */
}

.email-content {
  display: flex;
  align-items: baseline; /* Centers the content horizontally */
}

.email img {
  margin-right: 35px; /* Adds some spacing between the image and the text */
}

/* Footer */
.footer {
  background: #b81821;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer p {
  color: #fff;
  font-size: 26px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
